.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 0.6;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  letter-spacing: -0.5px;
}
.leftSide {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
